<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">

</head>
<body>
    <h1>
        <center>This is static folder by render_template Function</center>
        
    </h1>
  <center>  <img src="{{url_for('static',filename='images/Screenshot (814).png')}}" alt="" height="400px" width="600px">
    <h1><a href="{{url_for('htmlpage')}}">click here to go to html page</a></h1>
</center>

</body>
</html>